/*Background Image*/
body,
html {
    height: 100%;
}

#bg {
    /* The image used */
    background-image:

        url("background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Nav Bar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    display: flex;
    align-items: center;
    background-color: bisque;
    padding: 10px;
    justify-content: space-between;

}

#nav a:hover {
    color: aqua;
}

#nav a {
    padding: 5px;
}

#nav p {
    font-size: 40px;
}



form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    align-items: flex-start;

}

#form {
    display: flex;
    justify-content: center;
    margin-right: 150px;
    align-items: center;
    margin-top: 250px;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#contact {
    display: flex;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 200px;
}



#submitbtn {
    background-color: bisque;
    color: black;
}